src/main/resources/message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://datalite.cz/spring/mtom-message/1.0" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://datalite.cz/spring/mtom-message/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xs:element name="file" type="FileType">
	</xs:element>

	<xsd:complexType name="FileType">
		<xs:sequence>
			<xs:element name="filename" type="xs:string"/>
			<xs:element name="content" type="xs:base64Binary">
			</xs:element>
		</xs:sequence>
	</xsd:complexType>

</xs:schema>